<a href="https://colab.research.google.com/github/AhmedKaramDev/Python-machineLearning-course/blob/master/Refresh_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# python for Data Sci

In [0]:
# python and all programming languages can do basic math (add, subtratct , multiply, division)
print(5+5)
print(5-5)
print(5*5)
print(5/5)

10
0
25
1.0

in python there are additional operators power`**` and modulo `%`

In [0]:
print(5**3) # means 5*5*5
print(11%2) # means the reminder of the divison

125
1

## Example:
Suppose you have $100, which you can invest with a 10%
return each year. After one year, it's 100×1.1=110 dollars,
and after two years it's 100×1.1×1.1=121.

In [0]:
#TODO: Add code to calculate how much money you end up with after 7 years.

## variables 
* case sensitive
* no start with numbers
* no symbols just _  

## Types 
there are commoan types in python (int, float, string, bool ,list, set, dictioninary)
to know the type write `type(varible name)`

In [0]:
# Create a variable savings with the value 100.
# Check out this variable by typing print(savings) in the script.
# Check out this variable type by typing print(type(savings)) in the script.

###  we saw int and float values now lets another data types 
**TODO:** Create a new string, desc, with the value "pyhton Course".  

**TODO:** Create a new boolean, profitable, with the value True

String vlaues must be between tow double or single quotes Ex: "Hello" or 'Hi'. You can merge between strings with + operator.

boolean values can be `True` or `False` first capital letter is important also can be 0 or 1

In [0]:
savings = 100
result = 100 * 1.10 ** 7

# Fix the printout
print("I started with $" + savings + " and now have $" + result + ". Awesome!")

TypeError: must be str, not int

## we can convert between some python types
we can convert string value contains numbers to int or float but we can't convert letters to float or int
we can convert between int and float but in convert int to float the numbers after the fraction point removed

In [0]:
# Definition of pi_string
pi_string = "3.1415926"

# TODO: Convert pi_string into float: pi_float and then print the type of it
pi_float =

## all these types store single values and our probelm in data scinece have many datapoint and it's hard to store each value in variable so we're using list to hold many values in one variable

**List features**
* name a collection of values 
* contain any type
* Contain different type